*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Common Styles */

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Header & Navigation styles */

header{
    background-color: white;
}

#navigation{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px 120px;
    align-items: center;
    height: 92px;
}

.nav-link{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}

.logo{
    cursor: pointer;
}

.nav-link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.nav-link a:hover{
    text-decoration: underline;
    font-weight: 700;
    color: #30B868;
}

.nav-button {
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    border: none;
}

.nav-button:hover{
    background-color: #20864a;
    box-shadow: 0 4px 16px 8px #00000015;
}

.nav-button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

/* Hero Banner */

.hero-banner{
    background-color: white;
    background-image: url(/Images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    margin: 0;
    place-items: center;
    align-content: center;
}

.top-h6{
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: white;
    width: 229px;
    height: 35px;
    place-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
}

.top-h6 h6{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.top-h6 img{
    height: 16px;
    width: 16px;
}

.hero-text {
    text-align: center;
    margin-top: 16px;
}

.hero-text .top-h1{
    font-size: 72px;
    color: #ffffff;
    line-height: 84px;
    font-weight: bold;
    margin-top: 16px;
}

.hero-text span {
    color: #30B868;
}

.hero-text p {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 16px;
}

.hero-button{
    margin-top: 32px;
    display: flex;
    gap: 10px;
    align-content: center;
}

.hero-button .fill-btn-hero{
    display: flex;
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    border: none;
}


.hero-button .fill-btn-hero:hover{
    background-color: #20864a;
    box-shadow: 0 4px 16px 8px #00000015;
}

.hero-button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
}

.hero-button .stroke-btn-hero{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 16px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    border: solid 1px white;
}

.hero-button .stroke-btn-hero:hover{
    border: solid 2px #30B868;
    box-shadow: 0 4px 16px 8px #00000015;
}
