*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Common Styles */

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Header & Navigation styles */

header{
    background-color: white;
}

#navigation{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px 120px;
    align-items: center;
    height: 92px;
}

.nav-link{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}

.logo{
    cursor: pointer;
}

.nav-link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.nav-link a:hover{
    text-decoration: underline;
    font-weight: 700;
    color: #30B868;
}

.nav-button {
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    border: none;
}

.nav-button:hover{
    background-color: #20864a;
    box-shadow: 0 4px 16px 8px #00000015;
}

.nav-button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

/* Hero Banner */

.hero-banner{
    background-color: white;
    background-image: url(/Images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    margin: 0;
    place-items: center;
    align-content: center;
}

.top-h6{
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: white;
    width: 229px;
    height: 35px;
    place-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
}

.top-h6 h6{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.top-h6 img{
    height: 16px;
    width: 16px;
}

.hero-text {
    text-align: center;
    margin-top: 16px;
}

.hero-text .top-h1{
    font-size: 72px;
    color: #ffffff;
    line-height: 84px;
    font-weight: bold;
    margin-top: 16px;
}

.hero-text span {
    color: #30B868;
}

.hero-text p {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 16px;
}

.hero-button{
    margin-top: 32px;
    display: flex;
    gap: 10px;
    align-content: center;
}

.hero-button .fill-btn-hero{
    display: flex;
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    border: none;
}


.hero-button .fill-btn-hero:hover{
    background-color: #20864a;
    box-shadow: 0 4px 16px 8px #00000015;
}

.hero-button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
}

.hero-button .stroke-btn-hero{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 16px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    border: solid 1px white;
}

.hero-button .stroke-btn-hero:hover{
    border: solid 2px #30B868;
    box-shadow: 0 4px 16px 8px #00000015;
}

/* cards with header */

#with-cards{
    margin-top: 70px;
    align-content: center;
}

.head-text{
    text-align: center;
}

.head-text h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.head-text p{
    font-size: 16px;
    font-weight: 300;
    color: #627382;
    margin-top: 16px;
}

.cards{
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.cards-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 48px;
    border-radius: 8px;
    padding: 40px 16px;
    word-break: normal;
    overflow: break-word;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.103);
    width: 322px;
    min-width: 240px;
    height: 320px;
}

.cards-details:hover{
    box-shadow: 0 4px 16px 0 #30b86936;
}


.icon{
    width: 56px;
    height: 56px;
    background-color: #f95555;
    margin-top: 20px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 24px;
    height: 24px;
}

.cards-details h4{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
    white-space: normal;
}

.cards-details p{
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    font-weight: 300;
    color: #627382;
    margin-top: 16px;
}

/* about */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 70px;
    gap: 60px;
    padding-left: 20px;
    background-color: white;
}

.main-image{
    width: auto;
    height: 600px;
}

#about h6 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

#about h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 16px;
}

#about p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

#about ul{
    list-style: none;
    gap: 16px;
    margin-top: 40px;
}

#about li{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
    align-content: center;
    margin-top: 16px;
}

#about img{
    margin-right: 6px;
    align-items: center;
    align-content: center;
}

/* Early Access */

#early-access {
    background-color: #F7F6F2;
    margin-top: 122px;
    align-items: center;
    align-content: center;
    padding: 80px 40px;
    justify-items: center;
    border-radius: 12px;
}

#early-access h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#early-access p{
    margin-top: 16px;
    font-size: 16;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.fill-btn-access{
    align-items: center;
    margin-top: 16px;
    display: flex;
    gap: 10px;
    align-content: center;
    width: 194px;
    height: 52px;
    background-color: #30B868;
    box-shadow: 0 10px 20px 0 #00000027;
}

#early-access button{
    margin-top: 16px;
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.fill-btn-access{
    display: flex;
    background-color: #30B868;
    padding: 12px 16px;
    height: 52px;
    width: auto;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.103);
}

.fill-btn-access:hover{
    background-color: #20864a;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.219);
}

.fill-btn-access a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

